6.-procesar-contraoferta-9b32I1Ehoz1UhyEA.json
{"createdAt":"2025-09-10T02:37:33.703Z","updatedAt":"2025-09-11T00:52:56.000Z","id":"9b32I1Ehoz1UhyEA","name":"6. Procesar Contraoferta","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"f0d3c627-e884-4334-8634-02813c8c99ef","name":"resultado","value":"Contraoferta aceptada","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,176],"id":"60cbb3b3-0974-4489-8edb-0767b02f7fa6","name":"Resultado Contraoferta Aceptada"},{"parameters":{"amount":60},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-704,64],"id":"62c187db-740c-41f3-b9c1-0cc97e2f81f6","name":"Timer Respuesta Cliente (2min)","webhookId":"988bcb5a-f6d9-4ddb-9f4a-04d77ac5c9e1","alwaysOutputData":false},{"parameters":{"operation":"update","tableId":"pedidos","matchType":"allFilters","filters":{"conditions":[{"keyName":"pedido_id","condition":"eq","keyValue":"={{ $('Start').item.json.pedido_id }}"},{"keyName":"estado","condition":"eq","keyValue":"EsperandoConfirmacion"}]},"fieldsUi":{"fieldValues":[{"fieldId":"estado","fieldValue":"Cancelado_Timeout"},{"fieldId":"motivo_cancelacion","fieldValue":"Timeout - Cliente no respondió en 2 minutos"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-480,64],"id":"65143359-d6df-44bb-a986-449aa87e1c4b","name":"Cancelar Por Timeout","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"4bpjJPK2fqZkspgx","name":"Supabase QA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1370e62f-804c-4b63-8cc6-3354db728dd2","leftValue":"={{ Object.keys($json).length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-256,64],"id":"41df3951-c9b0-4b6e-aedc-d28e6c9df06a","name":"¿Cancelado por Time out?"},{"parameters":{"assignments":{"assignments":[{"id":"f0d3c627-e884-4334-8634-02813c8c99ef","name":"resultado","value":"Contraoferta no aceptada","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"101aa2ef-1346-43d0-92c0-da9961be2c40","name":"Resultado Contraoferta No Aceptada"},{"parameters":{"workflowInputs":{"values":[{"name":"pedido_id","type":"any"},{"name":"oferta_id"}]}},"id":"effebc4f-4720-4f73-9847-3d9ba6fe8d5e","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-928,64]},{"parameters":{"operation":"send","phoneNumberId":"719990257874011","recipientPhoneNumber":"={{ $json.domiciliario_asignado }}","textBody":"=❌ Tu contraoferta para el pedido #{{ $('Start').item.json.pedido_id }} ha sido rechazada. \n\nEl cliente decidió no aceptar tu propuesta.","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[0,0],"id":"fe057036-652b-4ee5-ba25-bb84d030d2f5","name":"Notificar Domiciliario Rechazado","webhookId":"de9e78ea-a5db-4bfb-bb6b-1b410c8d40af","credentials":{"whatsAppApi":{"id":"YM1CDPaqIynCqebo","name":"WhatsApp Domiciliarios QA - Sender"}}}],"connections":{"Timer Respuesta Cliente (2min)":{"main":[[{"node":"Cancelar Por Timeout","type":"main","index":0}]]},"Cancelar Por Timeout":{"main":[[{"node":"¿Cancelado por Time out?","type":"main","index":0}]]},"¿Cancelado por Time out?":{"main":[[{"node":"Notificar Domiciliario Rechazado","type":"main","index":0}],[{"node":"Resultado Contraoferta Aceptada","type":"main","index":0}]]},"Start":{"main":[[{"node":"Timer Respuesta Cliente (2min)","type":"main","index":0}]]},"Notificar Domiciliario Rechazado":{"main":[[{"node":"Resultado Contraoferta No Aceptada","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Start":[{"json":{"pedido_id":"1188","oferta_id":"OFE-1113"}}]},"versionId":"a68bf48b-98f5-43e9-8087-9b39143b21ff","triggerCount":0,"shared":[{"createdAt":"2025-09-10T02:37:33.706Z","updatedAt":"2025-09-10T02:37:33.706Z","role":"workflow:owner","workflowId":"9b32I1Ehoz1UhyEA","projectId":"0IzhKVOc0T9TvoCy"}],"tags":[]}