clientes/0002-clientes-crear-pedido.json
{"createdAt":"2025-09-10T02:34:20.224Z","updatedAt":"2025-09-25T05:02:35.000Z","id":"Mdl3DHroFQwCDQKf","name":"0002 Clientes Crear Pedido","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Obtiene los datos de entrada del subworkflow\nconst datosPedido = $input.first().json;\n\n// Genera un código numérico de 4 dígitos para verificación\nfunction generarCodigoVerificacion() {\n  return Math.floor(1000 + Math.random() * 9000).toString();\n}\n\n// Obtiene la fecha y hora actual en Bogotá en formato timestamp with time zone\nfunction obtenerFechaBogotaISO() {\n  const ahora = new Date();\n  const opciones = { timeZone: 'America/Bogota' };\n  const bogotaTimestamp = new Date(\n    ahora.toLocaleString('en-US', opciones)\n  ).toISOString();\n  return bogotaTimestamp;\n}\n\nconst codigoVerificacion = generarCodigoVerificacion();\nconst fechaPedido = obtenerFechaBogotaISO(); // timestamp Z alineado con Bogotá\n\n// Validación de datos requeridos con la nueva estructura\nif (\n  !datosPedido.phone_number ||\n  !datosPedido.client_name ||\n  !datosPedido.lista_compras ||\n  !datosPedido.direccion ||\n  !datosPedido.valor_oferta ||\n  !datosPedido.zona_domicilio\n) {\n  throw new Error(\n    'Faltan datos requeridos en el pedido desde la tool crear_pedido.'\n  );\n}\n\nconst clienteTelefonoLimpio = datosPedido.phone_number;\n\nconst pedidoCompleto = {\n  codigo_verificacion: codigoVerificacion,\n  fecha_pedido: fechaPedido,\n  estado_pedido: 'VentanaAbierta',\n  numero_usuario: clienteTelefonoLimpio,\n  nombre_usuario: datosPedido.client_name,\n  ciudad: datosPedido.ciudad,\n  zona_domicilio: datosPedido.zona_domicilio,\n  lista_compras: datosPedido.lista_compras,\n  direccion: datosPedido.direccion,\n  valor_oferta: parseFloat(datosPedido.valor_oferta),\n  tiempo_inicio: fechaPedido,\n  tiempo_fin: new Date(new Date(fechaPedido).getTime() + 3 * 60 * 1000).toISOString(),\n  estado_ventana: 'abierta',\n  numero_completo: `${clienteTelefonoLimpio}`\n};\n\nreturn pedidoCompleto;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,-144],"id":"9aec99ae-0d9b-4d3b-b09a-3432b7a3358c","name":"Crear Pedido y Ventana"},{"parameters":{"tableId":"ventanas_ofertas","fieldsUi":{"fieldValues":[{"fieldId":"pedido_id","fieldValue":"={{ $json.pedido_id }}"},{"fieldId":"tiempo_inicio","fieldValue":"={{ $('Crear Pedido y Ventana').item.json.tiempo_inicio }}"},{"fieldId":"tiempo_fin","fieldValue":"={{ $('Crear Pedido y Ventana').item.json.tiempo_fin }}"},{"fieldId":"estado_ventana","fieldValue":"abierta"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[864,-144],"id":"2aec1093-6726-4373-924b-7b6ebe89e536","name":"Guardar Ventana Ofertas","credentials":{"supabaseApi":{"id":"4bpjJPK2fqZkspgx","name":"Supabase QA"}}},{"parameters":{"tableId":"pedidos","fieldsUi":{"fieldValues":[{"fieldId":"estado","fieldValue":"={{ $json.estado_pedido }}"},{"fieldId":"numero_usuario","fieldValue":"={{ $json.numero_usuario }}"},{"fieldId":"nombre_usuario","fieldValue":"={{ $json.nombre_usuario }}"},{"fieldId":"lista_compras","fieldValue":"={{ $json.lista_compras }}"},{"fieldId":"direccion","fieldValue":"={{ $json.direccion }}"},{"fieldId":"zona_domicilio","fieldValue":"={{ $json.zona_domicilio }}"},{"fieldId":"valor_oferta","fieldValue":"={{ $json.valor_oferta }}"},{"fieldId":"valor_oferta","fieldValue":"={{ $json.valor_oferta }}"},{"fieldId":"fecha_pedido","fieldValue":"={{ $json.fecha_pedido}}"},{"fieldId":"codigo_verificacion","fieldValue":"={{ $json.codigo_verificacion }}"},{"fieldId":"ciudad","fieldValue":"={{ $json.ciudad }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[640,-144],"id":"4f435549-beaf-4f79-a026-9e857203784d","name":"Guardar Pedido","credentials":{"supabaseApi":{"id":"4bpjJPK2fqZkspgx","name":"Supabase QA"}}},{"parameters":{"assignments":{"assignments":[{"id":"c3c93924-db9c-4733-8199-fe918a2ab27f","name":"pedido_id","value":"={{ $('Guardar Pedido').first().json.pedido_id }}","type":"string"},{"id":"1f96699a-16f2-496c-841f-79881b8cc7bf","name":"ventana_id","value":"={{ $('Guardar Ventana Ofertas').first().json.ventana_id }}","type":"string"},{"id":"ce96f705-b7f0-49c1-8140-4ba427a5757f","name":"message","value":"Pedido creado exitosamente","type":"string"},{"id":"89656704-b9e8-49ca-b2a5-7545509e791a","name":"success","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1088,-144],"id":"1066433e-050d-47ae-9784-da9fdf971f04","name":"Return"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"phone_number\": \"573006054535\",\n  \"client_name\": \"Manuel Torres\",\n  \"lista_compras\": \"1 hamburguesa, 2 gaseosas\",\n  \"direccion\": \"Barrio Centro, Casa blanca\",\n  \"ciudad\": \"Bogotá\",\n  \"valor_oferta\": \"8000\",\n  \"zona_domicilio\": \"Urbana\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[192,-144],"id":"f109719f-039a-4f78-b40e-4075f733fa2f","name":"When Executed by Another Workflow"}],"connections":{"Crear Pedido y Ventana":{"main":[[{"node":"Guardar Pedido","type":"main","index":0}]]},"Guardar Pedido":{"main":[[{"node":"Guardar Ventana Ofertas","type":"main","index":0}]]},"Guardar Ventana Ofertas":{"main":[[{"node":"Return","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Crear Pedido y Ventana","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"phone_number":"573006064535","client_name":"Manuel Torres","lista_compras":"1 kilo arroz, 2 libras carne, 1 sixpack cerveza","direccion":"Vereda San Miguel, finca Los Rosales, bajando por el río, casa azul después del puente","ciudad":"Villeta","valor_oferta":"10000","zona_domicilio":"Rural"}}]},"versionId":"5ce230dd-0dce-4b14-86c2-edc45bf00fd5","triggerCount":0,"shared":[{"createdAt":"2025-09-10T02:34:20.227Z","updatedAt":"2025-09-10T02:34:20.227Z","role":"workflow:owner","workflowId":"Mdl3DHroFQwCDQKf","projectId":"0IzhKVOc0T9TvoCy"}],"tags":[]}