clientes/0003-clientes-broadcast-domiciliarios.json
{
  "active": false,
  "connections": {
    "Loop Domiciliarios": {
      "main": [
        [
          {
            "node": "Broadcast Completado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Domiciliario Con Botones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Domiciliarios Activos": {
      "main": [
        [
          {
            "node": "¿Hay domiciliarios activos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timer Notificación Domiciliarios": {
      "main": [
        [
          {
            "node": "Loop Domiciliarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay domiciliarios activos?": {
      "main": [
        [
          {
            "node": "Loop Domiciliarios",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No hay domiciliarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Variables del Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Timer Notificación Domiciliarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Variables del Flujo": {
      "main": [
        [
          {
            "node": "Obtener Domiciliarios Activos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Domiciliario Con Botones": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Domiciliario Con Plantilla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Domiciliario Con Plantilla": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    }
  },
  "createdAt": "2025-09-10T02:35:27.874Z",
  "id": "Qt35dLh0xdcGB6jT",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "0003 Clientes Broadcast Domiciliarios",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "domiciliarios",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "estado_domiciliario",
              "condition": "eq",
              "keyValue": "Activo"
            },
            {
              "keyName": "ciudad_domiciliario",
              "condition": "eq",
              "keyValue": "={{ $('Start').first().json.ciudad }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -320,
        32
      ],
      "id": "5ac636a7-4015-4e72-ac85-2766e8fff7f8",
      "name": "Obtener Domiciliarios Activos",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "4bpjJPK2fqZkspgx",
          "name": "Supabase QA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ba921613-f845-480e-ae46-d891dba16f77",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        32
      ],
      "id": "4fa0f748-1eeb-41d4-8112-c8b2e6566221",
      "name": "¿Hay domiciliarios activos?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        192,
        16
      ],
      "id": "120c5765-6de2-4f94-8fe7-ed7dfd45f00d",
      "name": "Loop Domiciliarios"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1312,
        96
      ],
      "id": "6207a3ec-014a-44d4-9ec4-7722accf6aa1",
      "name": "Timer Notificación Domiciliarios",
      "webhookId": "93014541-6b88-4a1d-b633-9e7c976458ad"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "lista_compras",
              "type": "any"
            },
            {
              "name": "valor_oferta",
              "type": "any"
            },
            {
              "name": "zona_domicilio",
              "type": "any"
            },
            {
              "name": "pedido_id",
              "type": "any"
            },
            {
              "name": "direccion",
              "type": "any"
            },
            {
              "name": "ciudad",
              "type": "any"
            }
          ]
        }
      },
      "id": "43a92de4-785e-4e02-8852-ee2fe369e4a8",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -736,
        32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1a441ea-6d0d-4b07-8f45-d9f128d59e8c",
              "name": "resultado_broadcast",
              "value": "Sin domiciliarios",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        352
      ],
      "id": "80eaac4c-1a2a-40e7-92fb-3dbe2790a199",
      "name": "No hay domiciliarios"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1a441ea-6d0d-4b07-8f45-d9f128d59e8c",
              "name": "resultado_broadcast",
              "value": "Exitoso",
              "type": "string"
            },
            {
              "id": "eeec2821-36d0-4386-923f-90795a681bdc",
              "name": "domiciliarios_notificados",
              "value": "={{ $('Obtener Domiciliarios Activos').all().map(item => item.json.numero_domiciliario).join(',') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        -160
      ],
      "id": "c643dc59-6ed8-4e29-8797-a330e430dc63",
      "name": "Broadcast Completado",
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "ai",
              "message": "=🚚 Pedido disponible\n\n📋 No. {{ $('Start').first().json.pedido_id }} \n📦 {{ $('Start').first().json.lista_compras }}\n📍 {{ $('Start').first().json.direccion }} ({{ $('Start').first().json.zona_domicilio }})\n💵 Valor: ${{ $('Start').first().json.valor_oferta}}\n\n⏰ Responder en 3 minutos"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        928,
        16
      ],
      "id": "49157f10-a4a7-474f-8f2e-5181d953577e",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.contacts[0].wa_id}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        928,
        320
      ],
      "id": "99bbd737-43ab-45c8-9ff6-2b04160e5f8d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "JRAtD5GxfvOjQyf0",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0181305c-4b23-45df-ab88-bd1f38b58399",
              "name": "phone_number_id",
              "value": "719990257874011",
              "type": "string"
            },
            {
              "id": "f67f015a-7615-4c4d-86bd-4b41ddeb03d9",
              "name": "version_whatsapp_api",
              "value": "v22.0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        32
      ],
      "id": "5a28aac3-7b77-43e3-bdb4-bc908a307e8d",
      "name": "Variables del Flujo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/{{$('Variables del Flujo').first().json.version_whatsapp_api}}/{{$('Variables del Flujo').first().json.phone_number_id}}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"messaging_product\": \"whatsapp\",\n    \"recipient_type\": \"individual\",\n    \"to\": \"{{ $json.numero_domiciliario }}\",\n    \"type\": \"interactive\",\n    \"interactive\": {\n        \"type\": \"button\",\n        \"header\": {\n            \"type\": \"text\",\n            \"text\": \"🚚 Pedido disponible\"\n        },\n        \"body\": {\n            \"text\": \"📋 No. {{ $('Start').item.json.pedido_id }}\\n📦 {{ $('Start').item.json.lista_compras }}\\n📍 {{ $('Start').item.json.direccion }} ({{ $('Start').item.json.zona_domicilio }})\\n💰 Valor: ${{ $('Start').item.json.valor_oferta }}\\n\\n⏰ Responder en 3 minutos\"\n        },\n        \"action\": {\n            \"buttons\": [\n                {\n                    \"type\": \"reply\",\n                    \"reply\": {\n                        \"id\": \"ACEPTAR-{{ $('Start').item.json.pedido_id }}\",\n                        \"title\": \"Aceptar\"\n                    }\n                },\n                {\n                    \"type\": \"reply\",\n                    \"reply\": {\n                        \"id\": \"CONTRAOFERTAR-{{ $('Start').item.json.pedido_id }}\", \n                        \"title\": \"Contraofertar\"\n                    }\n                }\n            ]\n        }\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        32
      ],
      "id": "4548d4e9-e168-4318-9b89-172bb8367953",
      "name": "Notificar Domiciliario Con Botones",
      "retryOnFail": true,
      "alwaysOutputData": false,
      "maxTries": 2,
      "credentials": {
        "httpBearerAuth": {
          "id": "5zpQFh3GmNApfzDH",
          "name": "Token WhatsApp API Domiciliarios QA"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "phoneNumberId": "719990257874011",
        "recipientPhoneNumber": "={{ $json.numero_domiciliario }}",
        "template": "notificar_pedido_1|es",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('Start').first().json.pedido_id }}"
                  },
                  {
                    "text": "={{ $('Start').first().json.lista_compras }}"
                  },
                  {
                    "text": "={{ $('Start').first().json.direccion }}"
                  },
                  {
                    "text": "={{ $('Start').first().json.zona_domicilio }}"
                  },
                  {
                    "text": "={{ $('Start').first().json.valor_oferta }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        656,
        96
      ],
      "id": "191d98c8-42b8-4b1e-807d-5cabb5e7e21b",
      "name": "Notificar Domiciliario Con Plantilla",
      "webhookId": "3de5de67-d209-45e3-96ed-5e3e7c124919",
      "credentials": {
        "whatsAppApi": {
          "id": "YM1CDPaqIynCqebo",
          "name": "WhatsApp Domiciliarios QA - Sender"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.contacts[0].wa_id}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1104,
        368
      ],
      "id": "61b1e178-d143-4b53-88f7-5750c700cdfe",
      "name": "Simple Memory"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "lista_compras": "1 hamburguesa con tocineta de El Paso",
          "valor_oferta": "15000",
          "zona_domicilio": "Rural",
          "pedido_id": "53",
          "direccion": "Vereda San Juan, finca Santa Cecilia, después del portón rojo, a mano derecha, la primera entrada.",
          "ciudad": "La Vega"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-10T02:35:27.875Z",
      "updatedAt": "2025-09-10T02:35:27.875Z",
      "role": "workflow:owner",
      "workflowId": "Qt35dLh0xdcGB6jT",
      "projectId": "0IzhKVOc0T9TvoCy"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-28T16:05:00.000Z",
  "versionId": "ea454e9f-9c2b-4ba9-a576-3af5f702aef8"
}