clientes/0005-clientes-aceptar-contraoferta.json
{
  "active": false,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Guardar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Pedido": {
      "main": [
        [
          {
            "node": "Notificar Domiciliario Asignado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Domiciliario Asignado": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-10T02:36:49.925Z",
  "id": "zmw8Cn9ZXgya8m1g",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "0005 Clientes Aceptar Contraoferta",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "tableId": "pedidos",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "pedido_id",
              "condition": "eq",
              "keyValue": "={{ $('Start').first().json.pedido_id }}"
            },
            {
              "keyName": "estado",
              "condition": "eq",
              "keyValue": "EsperandoConfirmacion"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado",
              "fieldValue": "=Confirmado"
            },
            {
              "fieldId": "fecha_confirmacion",
              "fieldValue": "={{ new Date(new Date().toLocaleString('sv-SE', { timeZone: 'America/Bogota' }) + 'Z').toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        432,
        -96
      ],
      "id": "11820def-8d91-481d-ace0-27e3529dcac9",
      "name": "Guardar Pedido",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "4bpjJPK2fqZkspgx",
          "name": "Supabase QA"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be70b635-77df-481f-841d-b36fd37991cf",
              "name": "estado_contraoferta",
              "value": "Aceptada",
              "type": "string"
            },
            {
              "id": "49f7a67a-84b6-43c9-b187-4e4fddd05769",
              "name": "codigo_verificacion",
              "value": "={{ $('Guardar Pedido').item.json.codigo_verificacion }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -96
      ],
      "id": "768ed9a0-6258-492f-863d-5131f8ff9d02",
      "name": "Return"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "pedido_id"
            },
            {
              "name": "phone_number_id_domiciliarios"
            },
            {
              "name": "version_whatsapp_api"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        208,
        -96
      ],
      "id": "d013c171-5217-49c9-bb87-a11ffe714813",
      "name": "Start"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/{{ $('Start').item.json.version_whatsapp_api }}/{{ $('Start').item.json.phone_number_id_domiciliarios }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"messaging_product\": \"whatsapp\",\n    \"recipient_type\": \"individual\",\n    \"to\": \"{{ $json.domiciliario_asignado }}\",\n    \"type\": \"interactive\",\n    \"interactive\": {\n        \"type\": \"button\",\n        \"header\": {\n            \"type\": \"text\",\n            \"text\": \"🎉 ¡PEDIDO ASIGNADO!\"\n        },\n        \"body\": {\n            \"text\": \"✅ Se aceptó tu contraoferta\\n\\n🆔 Pedido No: {{ $json.pedido_id }}\\n💰 Valor: ${{ $json.valor_final }}\\n📍 Dirección: {{ $json.direccion }}\\n🛒 Productos: {{ $json.lista_compras }}\\n📱 Cliente: {{ $json.nombre_usuario }}\\n📞 Teléfono: {{ $json.numero_usuario.replace(/^57/, '') }}\\n\\n🚚 ¡Puedes comenzar el domicilio!\\n⏰ Recuerda contactar al cliente\\n\\n⚠️ Al entregar: Pide código al cliente y presiona el botón\"\n        },\n        \"action\": {\n            \"buttons\": [\n                {\n                    \"type\": \"reply\",\n                    \"reply\": {\n                        \"id\": \"ENTREGAR-{{ $json.pedido_id }}\",\n                        \"title\": \"Entregar\"\n                    }\n                }\n            ]\n        }\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        -96
      ],
      "id": "b7b09ef3-3860-4042-ab00-00c07c09bbb0",
      "name": "Notificar Domiciliario Asignado",
      "retryOnFail": true,
      "alwaysOutputData": false,
      "maxTries": 3,
      "credentials": {
        "httpBearerAuth": {
          "id": "5zpQFh3GmNApfzDH",
          "name": "Credenciales WhatsApp Domiciliarios QA"
        }
      }
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "pedido_id": "75",
          "phone_number_id_domiciliarios": "768517399686178",
          "version_whatsapp_api": "v22.0"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "createdAt": "2025-09-10T02:36:49.927Z",
      "updatedAt": "2025-09-10T02:36:49.927Z",
      "role": "workflow:owner",
      "workflowId": "zmw8Cn9ZXgya8m1g",
      "projectId": "0IzhKVOc0T9TvoCy"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-10T23:34:10.000Z",
  "versionId": "25198f62-60e4-483e-9a5f-ba0e7e17ea1c"
}