clientes/0008-clientes-generar-y-enviar-audio.json
{
  "active": false,
  "connections": {
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Enviar Respuesta Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar Texto de Emogis": {
      "main": [
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Limpiar Texto de Emogis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Respuesta Audio": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-09-10T14:18:38.548Z",
  "id": "3D83itixAxA4p1dG",
  "isArchived": false,
  "meta": null,
  "name": "0008 Clientes Generar y Enviar Audio",
  "nodes": [
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "o2vbTbO3g4GrKUg7rehy",
          "mode": "id"
        },
        "text": "={{ $json.texto_para_voz }}",
        "additionalOptions": {
          "model": {
            "mode": "list",
            "value": "eleven_multilingual_v2"
          },
          "outputFormat": "opus_48000_32"
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "595d6a5d-c797-459c-82cd-5a80886ab1f3",
      "name": "Convert text to speech"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "b2c55c4c-7e98-4400-9252-5083210619e4",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// Opción 3: Solo eliminar espacios extra después de quitar emojis\n\nfor (const item of $input.all()) {\n  const texto = item.json.texto_para_voz;\n  \n  // Eliminar emojis y normalizar espacios\n  const emojiRegex = /(?:[\\u2700-\\u27bf]|(?:\\ud83c[\\udde6-\\uddff]){2}|[\\ud800-\\udbff][\\udc00-\\udfff]|[\\u0023-\\u0039]\\ufe0f?\\u20e3|\\u3299|\\u3297|\\u303d|\\u3030|\\u24c2|\\ud83c[\\udd70-\\udd71]|\\ud83c[\\udd7e-\\udd7f]|\\ud83c\\udd8e|\\ud83c[\\udd91-\\udd9a]|\\ud83c[\\udde6-\\uddff]|\\ud83c[\\ude01-\\ude02]|\\ud83c\\ude1a|\\ud83c\\ude2f|\\ud83c[\\ude32-\\ude3a]|\\ud83c[\\ude50-\\ude51]|\\u203c|\\u2049|[\\u25aa-\\u25ab]|\\u25b6|\\u25c0|[\\u25fb-\\u25fe]|\\u00a9|\\u00ae|\\u2122|\\u2139|\\ud83c\\udc04|[\\u2600-\\u26FF]|\\u2b05|\\u2b06|\\u2b07|\\u2b1b|\\u2b1c|\\u2b50|\\u2b55|\\u231a|\\u231b|\\u2328|\\u23cf|[\\u23e9-\\u23f3]|[\\u23f8-\\u23fa]|\\ud83c\\udccf|\\u2934|\\u2935|[\\u2190-\\u21ff])/g;\n  \n  const textoLimpio = texto\n    .replace(emojiRegex, '') // Eliminar emojis\n    .replace(/\\s+/g, ' ')    // Normalizar espacios múltiples\n    .trim();                 // Eliminar espacios al inicio y final\n  \n  item.json.textoLimpio = textoLimpio;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "106878ed-2f2e-4933-a2d2-393aef28ac46",
      "name": "Limpiar Texto de Emogis"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo.cdld.uk/message/sendWhatsAppAudio/El Chat de Los Domicilios",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "907E32DEECC9-49F7-90E1-ACD39B0D97AF"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Start').item.json.numero_destino }}"
            },
            {
              "name": "audio",
              "value": "={{ $json.data }}"
            },
            {
              "name": "delay",
              "value": "={{ Math.floor(Math.random() * (1500 - 500 + 1)) + 500 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        896,
        0
      ],
      "id": "47c11b65-5b46-4d49-8f80-a8b257e76029",
      "name": "Enviar Respuesta Audio"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "numero_destino"
            },
            {
              "name": "texto_para_voz"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "f8418cbc-212a-42e7-a491-8552a049b2d4",
      "name": "Start"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "numero_destino": "573053256193@s.whatsapp.net",
          "texto_para_voz": "Entendido, he comprendido que no deseas continuar con el registro ni realizar ninguna otra acción en este momento. Si necesitas algo más en el futuro, estaré aquí para ayudarte. ¡Hasta luego!"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-10T14:18:38.554Z",
      "updatedAt": "2025-09-10T14:18:38.554Z",
      "role": "workflow:owner",
      "workflowId": "3D83itixAxA4p1dG",
      "projectId": "0IzhKVOc0T9TvoCy"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-25T05:04:29.000Z",
  "versionId": "84dc55bd-7dbc-47e5-aa91-b6c560d38a51"
}