domiciliarios/0002-domiciliarios-aceptar-pedido.json
{
  "active": false,
  "connections": {
    "Obtener Pedido": {
      "main": [
        [
          {
            "node": "¿Existe o no está disponible?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Existe o no está disponible?": {
      "main": [
        [
          {
            "node": "Obtener Ventana",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return No Existe/No Disponible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Ventana": {
      "main": [
        [
          {
            "node": "¿Ventana abierta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Ventana abierta?": {
      "main": [
        [
          {
            "node": "Registrar Oferta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Ventana Cerrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Obtener Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Oferta": {
      "main": [
        [
          {
            "node": "Return Oferta Registrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-10T19:36:40.194Z",
  "id": "ZlGuD4CfbuDS4EMR",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "0002 Domiciliarios Aceptar Pedido",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f342f78-3f6a-4ef4-aa9f-eeafcbf5fc1f",
              "name": "resultado",
              "value": "El pedido no existe o no está disponible",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        272
      ],
      "id": "97a3ee48-a805-46b2-8783-359cdfbd042b",
      "name": "Return No Existe/No Disponible"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "pedidos",
        "filters": {
          "conditions": [
            {
              "keyName": "pedido_id",
              "keyValue": "={{ $json.pedido_id }}"
            },
            {
              "keyName": "estado",
              "keyValue": "VentanaAbierta"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1008,
        176
      ],
      "id": "95e4a6cb-384a-46de-ae71-76b2ebf9db61",
      "name": "Obtener Pedido",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "4bpjJPK2fqZkspgx",
          "name": "Supabase QA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1651eeaf-cb8d-475b-8fc8-c05ab93abf45",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -784,
        176
      ],
      "id": "ec906caa-e30e-4da9-9a70-2fcd0b422946",
      "name": "¿Existe o no está disponible?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f342f78-3f6a-4ef4-aa9f-eeafcbf5fc1f",
              "name": "resultado",
              "value": "La ventana de ofertas para este pedido ha cerrado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        176
      ],
      "id": "066ee497-5854-4bfa-909f-6c7a69d2948c",
      "name": "Return Ventana Cerrada"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "ventanas_ofertas",
        "filters": {
          "conditions": [
            {
              "keyName": "pedido_id",
              "keyValue": "={{ $('Start').first().json.pedido_id }}"
            },
            {
              "keyName": "estado_ventana",
              "keyValue": "abierta"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -560,
        80
      ],
      "id": "a324f3e2-198c-4cbe-b7ab-3767a23dc4b3",
      "name": "Obtener Ventana",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "4bpjJPK2fqZkspgx",
          "name": "Supabase QA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1651eeaf-cb8d-475b-8fc8-c05ab93abf45",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        80
      ],
      "id": "9a2d8b09-1544-4828-8ac7-6839fe57a734",
      "name": "¿Ventana abierta?"
    },
    {
      "parameters": {
        "tableId": "ofertas_recibidas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ventana_id",
              "fieldValue": "={{ $('Obtener Ventana').first().json.ventana_id }}"
            },
            {
              "fieldId": "numero_domiciliario",
              "fieldValue": "={{ $('Start').first().json.numero_domiciliario }}"
            },
            {
              "fieldId": "nombre_domiciliario",
              "fieldValue": "={{ $('Start').first().json.nombre_domiciliario }}"
            },
            {
              "fieldId": "tipo_oferta",
              "fieldValue": "aceptacion"
            },
            {
              "fieldId": "valor_oferta",
              "fieldValue": "={{ $('Obtener Pedido').first().json.valor_oferta }}"
            },
            {
              "fieldId": "calificacion_domiciliario",
              "fieldValue": "={{ $('Start').first().json.calificacion_domiciliario }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "420c0271-73d7-407e-b655-233ee7f354dc",
      "name": "Registrar Oferta",
      "credentials": {
        "supabaseApi": {
          "id": "4bpjJPK2fqZkspgx",
          "name": "Supabase QA"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "pedido_id"
            },
            {
              "name": "numero_domiciliario"
            },
            {
              "name": "nombre_domiciliario"
            },
            {
              "name": "calificacion_domiciliario",
              "type": "number"
            }
          ]
        }
      },
      "id": "6055148c-9106-4426-9062-3d34ef3084d6",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1248,
        176
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f342f78-3f6a-4ef4-aa9f-eeafcbf5fc1f",
              "name": "resultado",
              "value": "La propuesta de aceptación ha sido registrada exitosamente",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "52d0ea56-3a0a-4630-b2d8-c59e54da7839",
      "name": "Return Oferta Registrada"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "pedido_id": "1211",
          "numero_domiciliario": "573006064535",
          "nombre_domiciliario": "Manuel Torres",
          "calificacion_domiciliario": 5
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-10T19:36:40.218Z",
      "updatedAt": "2025-09-10T19:36:40.218Z",
      "role": "workflow:owner",
      "workflowId": "ZlGuD4CfbuDS4EMR",
      "projectId": "0IzhKVOc0T9TvoCy"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-25T04:58:49.000Z",
  "versionId": "64af8256-ea5d-4976-a894-d4530fe68897"
}