domiciliarios/0003-domiciliarios-contraofertar-pedido.json
{
  "active": false,
  "connections": {
    "Obtener Pedido": {
      "main": [
        [
          {
            "node": "¿Existe o no está disponible?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Existe o no está disponible?": {
      "main": [
        [
          {
            "node": "¿Supera valor mínimo?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return No Existe/No Disponible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Ventana": {
      "main": [
        [
          {
            "node": "¿Ventana abierta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Ventana abierta?": {
      "main": [
        [
          {
            "node": "Registrar Oferta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Ventana Cerrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Oferta": {
      "main": [
        [
          {
            "node": "Return Oferta Registrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Obtener Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Supera valor mínimo?": {
      "main": [
        [
          {
            "node": "Obtener Ventana",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Valor Debe Ser Mayor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-10T19:38:16.905Z",
  "id": "HzK6mbnjJfsRlNyW",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "0003 Domiciliarios Contraofertar Pedido",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f342f78-3f6a-4ef4-aa9f-eeafcbf5fc1f",
              "name": "resultado",
              "value": "El pedido no existe o no está disponible",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        416
      ],
      "id": "51b2e028-86e8-4920-98cf-b763027ee36b",
      "name": "Return No Existe/No Disponible"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "pedidos",
        "filters": {
          "conditions": [
            {
              "keyName": "pedido_id",
              "keyValue": "={{ $json.pedido_id }}"
            },
            {
              "keyName": "estado",
              "keyValue": "VentanaAbierta"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1296,
        256
      ],
      "id": "41bc5470-14f5-42bd-9ac9-42b76928cdb8",
      "name": "Obtener Pedido",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "4bpjJPK2fqZkspgx",
          "name": "Supabase QA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1651eeaf-cb8d-475b-8fc8-c05ab93abf45",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1072,
        256
      ],
      "id": "159c99a3-9b53-4c7f-9cc0-ae571dd6c050",
      "name": "¿Existe o no está disponible?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f342f78-3f6a-4ef4-aa9f-eeafcbf5fc1f",
              "name": "resultado",
              "value": "La ventana de ofertas para este pedido ha cerrado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        176
      ],
      "id": "b4f2c461-4083-44c0-94b6-007ae2c32fc9",
      "name": "Return Ventana Cerrada"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "ventanas_ofertas",
        "filters": {
          "conditions": [
            {
              "keyName": "pedido_id",
              "keyValue": "={{ $('Start').first().json.pedido_id }}"
            },
            {
              "keyName": "estado_ventana",
              "keyValue": "abierta"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -560,
        80
      ],
      "id": "10c76291-cf8f-434d-a648-4f01dceaaeeb",
      "name": "Obtener Ventana",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "4bpjJPK2fqZkspgx",
          "name": "Supabase QA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1651eeaf-cb8d-475b-8fc8-c05ab93abf45",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        80
      ],
      "id": "02b362dc-64da-45a3-8dd1-91bfca9688c2",
      "name": "¿Ventana abierta?"
    },
    {
      "parameters": {
        "tableId": "ofertas_recibidas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ventana_id",
              "fieldValue": "={{ $('Obtener Ventana').first().json.ventana_id }}"
            },
            {
              "fieldId": "numero_domiciliario",
              "fieldValue": "={{ $('Start').first().json.numero_domiciliario }}"
            },
            {
              "fieldId": "nombre_domiciliario",
              "fieldValue": "={{ $('Start').first().json.nombre_domiciliario }}"
            },
            {
              "fieldId": "tipo_oferta",
              "fieldValue": "contraoferta"
            },
            {
              "fieldId": "valor_oferta",
              "fieldValue": "={{ $('Start').item.json.valor_contraoferta }}"
            },
            {
              "fieldId": "calificacion_domiciliario",
              "fieldValue": "={{ $('Start').first().json.calificacion_domiciliario }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d47cd7ef-68d0-4734-8953-dd921df5bb5d",
      "name": "Registrar Oferta",
      "credentials": {
        "supabaseApi": {
          "id": "4bpjJPK2fqZkspgx",
          "name": "Supabase QA"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "pedido_id"
            },
            {
              "name": "valor_contraoferta",
              "type": "number"
            },
            {
              "name": "numero_domiciliario"
            },
            {
              "name": "nombre_domiciliario"
            },
            {
              "name": "calificacion_domiciliario",
              "type": "number"
            }
          ]
        }
      },
      "id": "1b7f8292-66a2-4859-9a17-e2212cf77665",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1536,
        256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f342f78-3f6a-4ef4-aa9f-eeafcbf5fc1f",
              "name": "resultado",
              "value": "La propuesta de aceptación ha sido registrada exitosamente",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "467bb3df-3a2e-427c-971e-8614b4e2d6a9",
      "name": "Return Oferta Registrada"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b54f966b-337a-49ff-a9d2-7fe773aa5f03",
              "leftValue": "={{ $('Start').item.json.valor_contraoferta }}",
              "rightValue": "={{ $('Obtener Pedido').item.json.valor_oferta }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -864,
        160
      ],
      "id": "89539c8f-3240-4cca-8a47-6146d7fc1143",
      "name": "¿Supera valor mínimo?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f342f78-3f6a-4ef4-aa9f-eeafcbf5fc1f",
              "name": "resultado",
              "value": "El valor de la contraoferta debe ser mayor al original",
              "type": "string"
            },
            {
              "id": "2f456d04-109b-4415-b64d-d6d8f54a7c12",
              "name": "valor_original",
              "value": "={{ $('Obtener Pedido').first().json.valor_oferta }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        256
      ],
      "id": "39ade8a2-be75-454a-b614-9fa7e83b6412",
      "name": "Return Valor Debe Ser Mayor"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "pedido_id": "1103",
          "valor_contraoferta": 12000,
          "numero_domiciliario": "573006064535",
          "nombre_domiciliario": "Manuel Torres",
          "calificacion_domiciliario": 5
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-10T19:38:16.918Z",
      "updatedAt": "2025-09-10T19:38:16.918Z",
      "role": "workflow:owner",
      "workflowId": "HzK6mbnjJfsRlNyW",
      "projectId": "0IzhKVOc0T9TvoCy"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-25T04:59:08.000Z",
  "versionId": "e9704d75-36cd-46bc-a570-806654eac3e6"
}