domiciliarios/0004-domiciliarios-validar-entrega-pedido.json
{"createdAt":"2025-09-10T19:39:44.720Z","updatedAt":"2025-09-25T04:59:28.000Z","id":"qERWYLB6k0hZ7k4s","name":"0004 Domiciliarios Validar Entrega Pedido","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"get","tableId":"pedidos","filters":{"conditions":[{"keyName":"pedido_id","keyValue":"={{ $json.id_pedido }}"},{"keyName":"estado","keyValue":"Confirmado"},{"keyName":"domiciliario_asignado","keyValue":"={{ $json.numero_domiciliario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1824,256],"id":"66276da0-fea6-40b3-936a-5b6caf679ab5","name":"Obtener Pedido","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"4bpjJPK2fqZkspgx","name":"Supabase QA"}}},{"parameters":{"workflowInputs":{"values":[{"name":"id_pedido"},{"name":"numero_domiciliario"},{"name":"codigo_verificacion"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2032,256],"id":"b3fa0f72-9cb6-4c22-b7e3-1b2113c68c53","name":"Start"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd4306df-dfa9-4c5d-8796-c519f9025739","leftValue":"={{ $json.pedido_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1616,256],"id":"bcc0682c-7afc-40ba-9bab-d7883deec106","name":"¿Pedido existe?"},{"parameters":{"assignments":{"assignments":[{"id":"925b7cd2-84b8-4562-8ae0-5b1976b0d8b2","name":"resultado","value":"El pedido no existe o ya fue entregado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1328,384],"id":"a8f4b603-4d88-4f63-ab98-cf496a76e49d","name":"Return Error"},{"parameters":{"operation":"update","tableId":"pedidos","filters":{"conditions":[{"keyName":"pedido_id","condition":"eq","keyValue":"={{ $('Start').first().json.id_pedido }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"estado","fieldValue":"Entregado"},{"fieldId":"fecha_entrega","fieldValue":"={{ new Date(new Date().toLocaleString('sv-SE', { timeZone: 'America/Bogota' }) + 'Z').toISOString() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1136,96],"id":"8742a554-1f7e-4d01-a71d-c123c041dc3a","name":"Entregar Pedido","credentials":{"supabaseApi":{"id":"4bpjJPK2fqZkspgx","name":"Supabase QA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f59819de-329e-4bdd-9371-b41537d9cde8","leftValue":"={{ $('Start').first().json.codigo_verificacion }}","rightValue":"={{ $('Obtener Pedido').first().json.codigo_verificacion }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1408,160],"id":"3c720ee0-2a7b-4491-9183-a76196332405","name":"¿Codigo válido?"},{"parameters":{"assignments":{"assignments":[{"id":"925b7cd2-84b8-4562-8ae0-5b1976b0d8b2","name":"resultado","value":"El código de verificación no coincide","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1152,272],"id":"9055f0ea-5be0-46eb-9a35-4fdbae14f70b","name":"Return Codigo No Coince"},{"parameters":{"assignments":{"assignments":[{"id":"6cfc0d5f-f4a2-40fb-8274-d56990a37d0a","name":"resultado","value":"El código ha sido validado y el pedido entregado con éxito. Audio enviado al cliente.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,96],"id":"d08c8ff6-d9e6-498a-aec9-45b37b9b1fea","name":"Return Exitoso"},{"parameters":{"operation":"send","phoneNumberId":"794263737101433","recipientPhoneNumber":"={{ $('Entregar Pedido').item.json.numero_usuario }}","textBody":"=✅ ¡Domicilio entregado con éxito! \n\n🎉 Tu pedido llegó a destino\n📦 Entrega completada satisfactoriamente\n⭐ Esperamos que todo haya sido de tu agrado\n\n😊 *¡Gracias por confiar en DomiChat!*","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-896,96],"id":"f92957a5-0119-47c5-9eca-3cb628ea7d43","name":"Enviar Respuesta","webhookId":"70eba998-420d-4fff-af21-f682da3f8df5","credentials":{"whatsAppApi":{"id":"gdJzqhLFzuNTphTz","name":"WhatsApp Clientes QA - Sender"}}}],"connections":{"Obtener Pedido":{"main":[[{"node":"¿Pedido existe?","type":"main","index":0}]]},"Start":{"main":[[{"node":"Obtener Pedido","type":"main","index":0}]]},"¿Pedido existe?":{"main":[[{"node":"¿Codigo válido?","type":"main","index":0}],[{"node":"Return Error","type":"main","index":0}]]},"Entregar Pedido":{"main":[[{"node":"Enviar Respuesta","type":"main","index":0}]]},"¿Codigo válido?":{"main":[[{"node":"Entregar Pedido","type":"main","index":0}],[{"node":"Return Codigo No Coince","type":"main","index":0}]]},"Enviar Respuesta":{"main":[[{"node":"Return Exitoso","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Start":[{"json":{"id_pedido":"4","numero_domiciliario":"573006064535","codigo_verificacion":"2613"}}]},"versionId":"b5d17e93-3ca0-4141-b356-76a0b3389345","triggerCount":0,"shared":[{"createdAt":"2025-09-10T19:39:44.725Z","updatedAt":"2025-09-10T19:39:44.725Z","role":"workflow:owner","workflowId":"qERWYLB6k0hZ7k4s","projectId":"0IzhKVOc0T9TvoCy"}],"tags":[]}