domiciliarios/0004-domiciliarios-validar-entrega-pedido.json
{
  "active": false,
  "connections": {
    "Obtener Pedido": {
      "main": [
        [
          {
            "node": "¿Pedido existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Obtener Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Pedido existe?": {
      "main": [
        [
          {
            "node": "¿Codigo válido?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entregar Pedido": {
      "main": [
        [
          {
            "node": "Enviar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Codigo válido?": {
      "main": [
        [
          {
            "node": "Entregar Pedido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Codigo No Coince",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Respuesta": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Return Exitoso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-10T19:39:44.720Z",
  "id": "qERWYLB6k0hZ7k4s",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "0004 Domiciliarios Validar Entrega Pedido",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "tableId": "pedidos",
        "filters": {
          "conditions": [
            {
              "keyName": "pedido_id",
              "keyValue": "={{ $json.pedido_id }}"
            },
            {
              "keyName": "estado",
              "keyValue": "Confirmado"
            },
            {
              "keyName": "domiciliario_asignado",
              "keyValue": "={{ $json.numero_domiciliario }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1824,
        256
      ],
      "id": "66276da0-fea6-40b3-936a-5b6caf679ab5",
      "name": "Obtener Pedido",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "4bpjJPK2fqZkspgx",
          "name": "Supabase QA"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "pedido_id"
            },
            {
              "name": "numero_domiciliario"
            },
            {
              "name": "codigo_verificacion"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2032,
        256
      ],
      "id": "b3fa0f72-9cb6-4c22-b7e3-1b2113c68c53",
      "name": "Start"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd4306df-dfa9-4c5d-8796-c519f9025739",
              "leftValue": "={{ $json.pedido_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1616,
        256
      ],
      "id": "bcc0682c-7afc-40ba-9bab-d7883deec106",
      "name": "¿Pedido existe?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"accion\": \"validar_entrega\",\n  \"status\": \"not_found\",\n  \"pedido_id\": {{ $('Start').item.json.pedido_id }},\n  \"domiciliario\": \"{{ $('Start').item.json.numero_domiciliario }}\",\n  \"data\": {},\n  \"error_code\": \"NOT_FOUND\",\n  \"message\": \"El pedido no existe en el sistema.\",\n  \"request_id\": \"{{$executionId}}\",\n  \"ts\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1328,
        384
      ],
      "id": "a8f4b603-4d88-4f63-ab98-cf496a76e49d",
      "name": "Return Error"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pedidos",
        "filters": {
          "conditions": [
            {
              "keyName": "pedido_id",
              "condition": "eq",
              "keyValue": "={{ $('Start').first().json.pedido_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado",
              "fieldValue": "Entregado"
            },
            {
              "fieldId": "fecha_entrega",
              "fieldValue": "={{ new Date(new Date().toLocaleString('sv-SE', { timeZone: 'America/Bogota' }) + 'Z').toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1136,
        96
      ],
      "id": "8742a554-1f7e-4d01-a71d-c123c041dc3a",
      "name": "Entregar Pedido",
      "credentials": {
        "supabaseApi": {
          "id": "4bpjJPK2fqZkspgx",
          "name": "Supabase QA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f59819de-329e-4bdd-9371-b41537d9cde8",
              "leftValue": "={{ $('Start').first().json.codigo_verificacion }}",
              "rightValue": "={{ $('Obtener Pedido').first().json.codigo_verificacion }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1408,
        160
      ],
      "id": "3c720ee0-2a7b-4491-9183-a76196332405",
      "name": "¿Codigo válido?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"accion\": \"validar_entrega\",\n  \"status\": \"invalid_code\",\n  \"pedido_id\": {{ $('Start').item.json.pedido_id }},\n  \"domiciliario\": \"{{ $('Start').item.json.numero_domiciliario }}\",\n  \"data\": {\n    \"codigo_ingresado\": \"{{ $('Start').item.json.codigo_verificacion }}\",\n    \"codigo_esperado\": \"{{$('Obtener Pedido').first().json.codigo_verificacion}}\"\n  },\n  \"error_code\": \"INVALID_CODE\",\n  \"message\": \"El código de verificación no coincide con el pedido.\",\n  \"request_id\": \"{{$executionId}}\",\n  \"ts\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1152,
        272
      ],
      "id": "9055f0ea-5be0-46eb-9a35-4fdbae14f70b",
      "name": "Return Codigo No Coince"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"accion\": \"validar_entrega\",\n  \"status\": \"ok\",\n  \"pedido_id\": {{ $('Start').item.json.pedido_id }},\n  \"domiciliario\": \"{{ $('Start').item.json.numero_domiciliario }}\",\n  \"data\": {\n    \"codigo_ingresado\": \"{{ $('Start').item.json.codigo_verificacion }}\",\n    \"codigo_registrado\": \"{{$('Obtener Pedido').first().json.codigo_verificacion}}\",\n    \"fecha_entrega\": \"{{$('Entregar Pedido').first().json.fecha_entrega}}\",\n    \"direccion\": \"{{$('Entregar Pedido').first().json.direccion}}\",\n    \"ciudad\": \"{{$('Entregar Pedido').first().json.ciudad}}\",\n    \"valor_cliente\": {{ $('Entregar Pedido').first().json.valor_oferta }},\n    \"valor_final\": {{ $('Entregar Pedido').first().json.valor_final }}\n  },\n  \"error_code\": null,\n  \"message\": \"Entrega validada y registrada.\",\n  \"request_id\": \"{{$executionId}}\",\n  \"ts\": \"{{ new Date().toISOString() }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        96
      ],
      "id": "d08c8ff6-d9e6-498a-aec9-45b37b9b1fea",
      "name": "Return Exitoso"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "837613199430783",
        "recipientPhoneNumber": "={{ $('Entregar Pedido').item.json.numero_usuario }}",
        "textBody": "=✅ ¡Domicilio entregado con éxito! \n\n🎉 Tu pedido llegó a destino\n📦 Entrega completada satisfactoriamente\n⭐ Esperamos que todo haya sido de tu agrado\n\n😊 *¡Gracias por confiar en DomiChat!*",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -896,
        96
      ],
      "id": "f92957a5-0119-47c5-9eca-3cb628ea7d43",
      "name": "Enviar Respuesta",
      "webhookId": "70eba998-420d-4fff-af21-f682da3f8df5",
      "credentials": {
        "whatsAppApi": {
          "id": "gdJzqhLFzuNTphTz",
          "name": "WhatsApp Clientes QA - Sender"
        }
      }
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -688,
        96
      ],
      "id": "fbd6d847-317a-4049-9d0a-6f0e9c76a512",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Obtener Pedido').first().json.numero_usuario + '_cliente'}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -688,
        304
      ],
      "id": "12db1ed7-1acb-4afe-8e91-74fa1fea96f2",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "v1sP8v4ffq4fES1C",
          "name": "Redis QA"
        }
      }
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "pedido_id": "109",
          "numero_domiciliario": "573208668467",
          "codigo_verificacion": "9779"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "tCJVhMSfqtz6Lsv2"
  },
  "shared": [
    {
      "createdAt": "2025-09-10T19:39:44.725Z",
      "updatedAt": "2025-09-10T19:39:44.725Z",
      "role": "workflow:owner",
      "workflowId": "qERWYLB6k0hZ7k4s",
      "projectId": "0IzhKVOc0T9TvoCy"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-17T19:43:28.000Z",
  "versionId": "ab221b14-d51f-49c5-804f-8b1e0ec55f72"
}