domiciliarios/0005-domiciliarios-obtener-estado.json
{"createdAt":"2025-09-14T16:34:24.076Z","updatedAt":"2025-09-25T05:01:14.000Z","id":"sbrxjwvPDKQJbafa","name":"0005 Domiciliarios Obtener Estado","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"numero_domiciliario"}]}},"id":"106a18d0-bd00-459d-ae09-3b61730ee3b6","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-400,-64]},{"parameters":{"assignments":{"assignments":[{"id":"f0f7a313-a162-4902-9363-b16fc4714541","name":"estado_actual","value":"={{ $json.estado_domiciliario }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,-64],"id":"ef1c2878-c2a0-4c2e-876f-2e0930e393ff","name":"Resultado Exitoso"},{"parameters":{"operation":"get","tableId":"domiciliarios","filters":{"conditions":[{"keyName":"numero_domiciliario","keyValue":"={{ $('Start').first().json.numero_domiciliario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-192,-64],"id":"594eb139-69a4-4767-8539-c86d3721299c","name":"Obtener Estado","alwaysOutputData":false,"retryOnFail":false,"credentials":{"supabaseApi":{"id":"4bpjJPK2fqZkspgx","name":"Supabase QA"}},"onError":"continueRegularOutput"}],"connections":{"Start":{"main":[[{"node":"Obtener Estado","type":"main","index":0}]]},"Obtener Estado":{"main":[[{"node":"Resultado Exitoso","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Start":[{"json":{"numero_domiciliario":"573006064535","estado_actual":"Inactivo"}}]},"versionId":"76708ec6-1a38-4954-957c-26419807fcad","triggerCount":0,"shared":[{"createdAt":"2025-09-14T16:34:24.081Z","updatedAt":"2025-09-14T16:34:24.081Z","role":"workflow:owner","workflowId":"sbrxjwvPDKQJbafa","projectId":"0IzhKVOc0T9TvoCy"}],"tags":[]}