domiciliarios/0006-domiciliarios-cambiar-estado.json
{
  "active": false,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Actualizar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Estado": {
      "main": [
        [
          {
            "node": "Resultado Exitoso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resultado Fallido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-14T03:21:16.119Z",
  "id": "3qKyLhg7cDGi1Ijs",
  "isArchived": false,
  "meta": null,
  "name": "0006 Domiciliarios Cambiar Estado",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "numero_domiciliario"
            },
            {
              "name": "estado_actual"
            }
          ]
        }
      },
      "id": "7f734084-a5ca-4a7e-b4fc-ff64bb332320",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        112,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "domiciliarios",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "numero_domiciliario",
              "condition": "eq",
              "keyValue": "={{ $('Start').first().json.numero_domiciliario }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado_domiciliario",
              "fieldValue": "={{ $('Start').first().json.estado_actual === \"Activo\" ? \"Inactivo\" : \"Activo\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        368,
        -144
      ],
      "id": "64b0ef41-af4f-427d-a198-356d40acd43b",
      "name": "Actualizar Estado",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "credentials": {
        "supabaseApi": {
          "id": "4bpjJPK2fqZkspgx",
          "name": "Supabase QA"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0f7a313-a162-4902-9363-b16fc4714541",
              "name": "estado_actual",
              "value": "={{ $json.estado_domiciliario }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -240
      ],
      "id": "bd8574d5-47ae-453b-98c8-e710aa418fcb",
      "name": "Resultado Exitoso"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b63b2dd6-4c25-4ac0-a1a8-db94f2ce3bfe",
              "name": "resultado",
              "value": "Error al actualizar estado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -48
      ],
      "id": "d2c070b1-2c01-4b1c-ae1b-62406ebe4fe1",
      "name": "Resultado Fallido"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "numero_domiciliario": "573006064535",
          "estado_actual": "Inactivo"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-14T03:21:16.144Z",
      "updatedAt": "2025-09-14T03:21:16.144Z",
      "role": "workflow:owner",
      "workflowId": "3qKyLhg7cDGi1Ijs",
      "projectId": "0IzhKVOc0T9TvoCy"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-25T05:01:05.000Z",
  "versionId": "e76bae80-c63a-4747-87d9-a7f2c236d10a"
}