error/000x-error-clientes.json
{
  "active": false,
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Avisar Manuel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-27T00:50:47.788Z",
  "id": "TDDEN2JI47E2I0KU",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "000x error clientes",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -80
      ],
      "id": "fd714de6-a383-4431-8ac7-0abb6aedd77d",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "794263737101433",
        "recipientPhoneNumber": "573006064535",
        "textBody": "=There was an error in domichat clientes:\ndate: {{ new Date($json.execution.error.timestamp).toLocaleString(\"es-CO\") }}\n\n{{ JSON.stringify($json, null, 2) }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        176,
        -208
      ],
      "id": "30a7bc10-be03-4b2a-a6c0-ee57b9e03e8d",
      "name": "Avisar Manuel",
      "webhookId": "b3e7a617-63a4-4a5a-b139-f51cd8f26930",
      "credentials": {
        "whatsAppApi": {
          "id": "gdJzqhLFzuNTphTz",
          "name": "WhatsApp Clientes QA - Sender"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6017205151",
        "text": "=There was an error in domichat domiciliarios:\ndate: {{ new Date($json.execution.error.timestamp).toLocaleString(\"es-CO\") }}\n\n{{ JSON.stringify($json, null, 2) }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        192,
        80
      ],
      "id": "037cd074-c1be-44d1-bf58-c1de56fa97af",
      "name": "Send a text message",
      "webhookId": "251c0c2f-737d-4d42-bcfc-7b73fbe8290d",
      "credentials": {
        "telegramApi": {
          "id": "kVLEpd6KGB5y48ja",
          "name": "carito errores"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-27T00:50:47.795Z",
      "updatedAt": "2025-09-27T00:50:47.795Z",
      "role": "workflow:owner",
      "workflowId": "TDDEN2JI47E2I0KU",
      "projectId": "0IzhKVOc0T9TvoCy"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-01T22:25:38.000Z",
  "versionId": "a226d920-fcbe-43c5-bfaf-4d29ed58f577"
}