error/000x-error-domiciliarios.json
{
  "active": false,
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Avisar Manuel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send error Nico",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send error Manu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-27T01:10:32.914Z",
  "id": "cGFHe0wsizcDFbHD",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "000x error domiciliarios",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        16
      ],
      "id": "b60a5668-8f80-4713-a430-86e339349d6f",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "719990257874011",
        "recipientPhoneNumber": "573006064535",
        "textBody": "=There was an error in domichat domiciliarios:\ndate: {{ new Date($json.execution.error.timestamp).toLocaleString(\"es-CO\") }}\n\n{{ JSON.stringify($json, null, 2) }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -208,
        -128
      ],
      "id": "f738fff4-0139-433b-8955-ac1bb696e2c6",
      "name": "Avisar Manuel",
      "webhookId": "b3e7a617-63a4-4a5a-b139-f51cd8f26930",
      "credentials": {
        "whatsAppApi": {
          "id": "YM1CDPaqIynCqebo",
          "name": "WhatsApp Domiciliarios QA - Sender"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6017205151",
        "text": "=There was an error in domichat domiciliarios:\ndate: {{ new Date($json.execution.error.timestamp).toLocaleString(\"es-CO\") }}\n\n{{ JSON.stringify($json, null, 2) }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -208,
        64
      ],
      "id": "e69d1a1b-d41c-45b0-a8fb-48bbcfa0a8c9",
      "name": "Send error Nico",
      "webhookId": "251c0c2f-737d-4d42-bcfc-7b73fbe8290d",
      "credentials": {
        "telegramApi": {
          "id": "kVLEpd6KGB5y48ja",
          "name": "carito errores"
        }
      }
    },
    {
      "parameters": {
        "chatId": "209571519",
        "text": "=There was an error in domichat domiciliarios:\ndate: {{ new Date($json.execution.error.timestamp).toLocaleString(\"es-CO\") }}\n\n{{ JSON.stringify($json, null, 2) }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -208,
        240
      ],
      "id": "e0b033f9-3dc4-474f-a732-dd25c6e53eb0",
      "name": "Send error Manu",
      "webhookId": "251c0c2f-737d-4d42-bcfc-7b73fbe8290d",
      "credentials": {
        "telegramApi": {
          "id": "kVLEpd6KGB5y48ja",
          "name": "carito errores"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-27T01:10:32.917Z",
      "updatedAt": "2025-09-27T01:10:32.917Z",
      "role": "workflow:owner",
      "workflowId": "cGFHe0wsizcDFbHD",
      "projectId": "0IzhKVOc0T9TvoCy"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-01T23:00:43.000Z",
  "versionId": "da5c939e-48df-4200-b76d-c095679f07dc"
}