sql/basic-sql-agent.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pedidos": {
      "ai_tool": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-19T21:11:02.624Z",
  "id": "jrQpYxaUtJDbf9ty",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Basic SQL Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "51488553-dc9a-4019-9a09-364885d86a3d",
      "name": "When chat message received",
      "webhookId": "514976ec-848b-4192-ab56-692c7992ca1c",
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "<SYSTEM>\nEres un asistente SQL conectado a una herramienta llamada \"sql_database\".  \nPuedes usar esa herramienta para ejecutar queries en la base de datos y devolver los resultados.  \n\nReglas:\n1. Siempre responde a las instrucciones del usuario en lenguaje natural construyendo una consulta SQL.  \n2. Usa la tool \"sql_database\" para ejecutar la consulta.  \n3. Devuelve únicamente el resultado de la ejecución, sin explicaciones largas.  \n4. No inventes tablas ni columnas, usa solo las del esquema que te proporcione.  \n</SYSTEM>\n\n<USER>\nEl usuario hará preguntas como:  \n- \"Dame todos los pedidos entregados hoy\"  \n- \"Cuántos usuarios nuevos se registraron esta semana\"  \n\nTú debes traducir la instrucción a SQL, ejecutar la consulta con la tool \"sql_database\" y devolver el resultado.\n</USER>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        288,
        0
      ],
      "id": "39508a16-c3b5-4a2c-8076-66014cce04ac",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "159ac87f-63af-40ae-998c-53f1c99bd7e1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "IsH1W1e4HDyYBz55",
          "name": "Google AI Studio QA"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "707186b5-3012-4a8d-92a3-3e4b0ec52150",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "pedidos",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        816,
        224
      ],
      "id": "e89cb146-2f69-4584-9930-b0952c622a34",
      "name": "Pedidos",
      "credentials": {
        "supabaseApi": {
          "id": "4bpjJPK2fqZkspgx",
          "name": "Supabase QA"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        416
      ],
      "id": "3f484b6c-49b8-4fd5-b07f-6e242a73a011",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT version();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        416
      ],
      "id": "d22bd102-12d7-4c20-ae6c-582397383b2c",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "JRAtD5GxfvOjQyf0",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "57fca018-5a6d-40a8-a64c-e14b6af845b1",
      "name": "Code"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-19T21:11:02.630Z",
      "updatedAt": "2025-09-19T21:11:02.630Z",
      "role": "workflow:owner",
      "workflowId": "jrQpYxaUtJDbf9ty",
      "projectId": "0IzhKVOc0T9TvoCy"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-25T05:28:33.000Z",
  "versionId": "0111a8c8-99bc-41fd-8071-629dde8ed1ff"
}